<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="reproducirNota('Do')" class="list-group-item list-group-item-action nota-do">Do C</a>
      <a (click)="reproducirNota('Re')" class="list-group-item list-group-item-action nota-re">Re D</a>
      <a (click)="reproducirNota('Mi')" class="list-group-item list-group-item-action nota-mi">Mi E</a>
      <a (click)="reproducirNota('Fa')" class="list-group-item list-group-item-action nota-fa">Fa F</a>
      <a (click)="reproducirNota('Sol')" class="list-group-item list-group-item-action nota-sol">Sol G</a>
      <a (click)="reproducirNota('La')" class="list-group-item list-group-item-action nota-la">La A</a>
      <a (click)="reproducirNota('Si')" class="list-group-item list-group-item-action nota-si">Si B</a>
    </div>
  </div>
</div>


<!-- <audio controls>
  <source src="../assets/sonidos/note1.wav">
</audio> -->